[submodule "ext/gtest"]
	path = ext/gtest
	url = https://tcpan@bitbucket.org/AluruLab/googletest-patched.git
[submodule "ext/concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "ext/cotire"]
	path = ext/cotire
	url = https://github.com/sakra/cotire.git
[submodule "ext/psac-copy"]
	path = ext/psac-copy
	url = git@github.gatech.edu:pflick3/psac-copy.git
